
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.section1 {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 60px;
    /* margin-left: 16px; */
}

.section1-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 50px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 12px;
}


.section2 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section2-container1 {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 65px;
    margin-left: 50px;
    margin-right: 50px;
}

.section2-part1 {
    width: 400px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -28px;
}

.signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 3px 16px;
}

.image-placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.section3-part2 {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.square-box {
    border: 5px solid #3882F6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.text {
    text-align: center;
}

.section4 {
    background-color: #E5E7EB;
    
}
.section4-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 520px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    /* width: 500px; */
    font-style: italic;
}

.quote-by {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}



