
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* main-1 */
.main-1 {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 60px;
}

.main-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* margin: 50px; */
    margin-left: 250px;
    margin-right: 250px;
}

.main-1 .container .logo {
    font-size: 24px;
    font-weight: 900;
}

.main-1 .container .links {
    display: flex;
    gap: 12px;
}

/* main-2 */
.main-2 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.main-2 .container {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 65px;
    margin-left: 250px;
    margin-right: 250px;
}

.main-2 .container .text {
    width: 400px;
}

.main-2 .container .text .main-text {
    font-size: 48px;
    font-weight: 900;
}

.main-2 .container .text .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -28px;
}

.main-2 .container .text .signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 3px 16px;
}

.main-2 .container .image-placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}

/* main-3 */
.main-3 .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-3 .container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.main-3 .container .info {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.main-3 .container .info .square-box {
    border: 5px solid #3882F6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.main-3 .container .info .text {
    text-align: center;
}

/* main-4 */
.main-4 {
    background-color: #E5E7EB;
    
}
.main-4 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 520px;
}
.main-4 .container .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

.main-4 .container .quote-by {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

/* main-5 */
.main-5 {
    padding: 30px;
    margin: 50px 200px;
    color: white;
    background-color: #3882F6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.main-5 .container {
    margin: 20px;
}

.main-5 .container .signup-title {
    font-size: larger;
    font-weight: bold;
}

.main-5 .signup-button {
    border-color: white;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    width: 150px;
    font-weight: bold;
}

/* footer */
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 40px;
}


